body{
    background-color:rgba(177, 177, 176, 0.425);


}


#menu a {
    color: black; 
    font-size: 18px; 
    margin: 7px;
    font-family: 'Roboto', sans-serif;
}

#Principal h5{
  width: 10%;
  margin: 10px;
  padding: 10px;
  background-color: gray; 
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1); 
  color:white;
  border-radius: 8px; 
}



#Contato{
right: auto;
    width: auto;
    background-color: black;
    color: white;
}